[tool.poetry]
name = "hint-cli"
version = "0.3.1"
description = "Hint exists to get help on commands from the command line, without switching context or applications."
authors = ["Andrew Garner"]
license = "MIT"
readme = "README.md"
homepage = "https://github.com/agarthetiger/hint/"
repository = "https://github.com/agarthetiger/hint/"
documentation = "https://agarthetiger.github.io/hint/"
keywords = ["cli", "help"]
classifiers = [
    "Development Status :: 3 - Alpha",
    "Environment :: Console",
    "Intended Audience :: End Users/Desktop",
    "Operating System :: OS Independent",
    "License :: OSI Approved :: MIT License",
    "Programming Language :: Python :: 3.7",
    "Topic :: Utilities",
]
include = [
    "LICENSE",
]

[tool.poetry.dependencies]
python = "^3.7"
requests = "^2.24.0"
click = "^7.1.2"
colorama = "^0.4.3"

[tool.poetry.dev-dependencies]
pytest = "^6.0.1"

[tool.poetry.scripts]
hint = 'hint_cli.hint:cli'

[build-system]
requires = ["poetry>=0.12"]
build-backend = "poetry.masonry.api"
